@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Models.Account

<turbo-frame id="account_@Model.Id" reloadable="">
    <div class="flex flex-col justify-center items-center">
        <form class="flex justify-center flex-col mt-6 w-full" accept-charset="UTF-8" method="post">
            <div class="flex flex-col items-center w-full">
                <div class="font-bold text-transparent text-md bg-clip-text p-2 text-black from-[#CE00D2] to-zinc-700 w-full">
                    @Model.Name
                </div>

                <input type="hidden" asp-for="@Model.Id" />
                <input class="border-2 border-gray-400 rounded-full w-full px-6 text-xl" type="text" value="@Model.Name" name="name" asp-for="@Model.Name" id="account_name">

                <input asp-page="/Main" asp-page-handler="SaveAccount" type="submit" name="commit" value="Save" class="w-auto py-2 px-10 text-md bg-gradient-to-r from-[#CE00D2] to-gray-400 rounded-full text-white font-bold mt-4 cursor-pointer">
            </div>
        </form>

        <a asp-page="/Main" asp-page-handler="CancelAccount" class="mt-2 text-fuchsia-600" asp-route-accountId="@Model.Id" asp-route-name="@Model.Name">Cancel</a>
    </div>

</turbo-frame>