@using HOTWallets.DataAccess
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MainModel

<turbo-frame id="transaction_@Model.Trans.Id">
    <form class="flex justify-center flex-col mt-6 p-5 w-full" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="WLu7vMOnLx72HkIQ41IjSGsy3uNi753cezEiVBDQ9-DJpawULO_ezQWReo-CIQGN7OaMtWkqyKnmbsWeK_p8vg" autocomplete="off">
        <div class="flex flex-col items-center w-full gap-4">
            <div class="flex flex-col items-center w-full">
                @*<label class="font-bold text-transparent text-md bg-clip-text p-2 text-black from-[#CE00D2] to-zinc-700 w-full" for="transaction_category">Category</label>*@
                <div class="grid grid-cols-4 gap-2 w-full">
                    @*<input type="hidden" name="transaction[category_id]" value="" autocomplete="off">*@
                    @foreach (var itemCategory in Model.Categories)
                    {
                        <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_@itemCategory.Id">
                            <input type="radio" checked=@(Model.Trans.CategoryId == itemCategory.Id) value="@itemCategory.Id" asp-for="@Model.Category.Id" name="category[id]" id="transaction_category_id_@itemCategory.Id">
                            <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <img src="~/dist/images/categories/@String.Format("{0}.svg", itemCategory.Icon)">
                                <p class="text-black mt-2 text-lg">@itemCategory.Name</p>
                            </div>
                        </label>
                    }
                    
                    @*
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1337">
                        <input type="radio" value="2" asp-for="@Model.Category.Id" id="transaction_category_id_1337">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58.393 58.393" style="enable-background:new 0 0 58.393 58.393;" xml:space="preserve">
                            <g>
                            <circle cx="36.504" cy="21.827" r="1"></circle>
                            <circle cx="41.722" cy="19.179" r="1"></circle>
                            <circle cx="40.41" cy="21.695" r="1"></circle>
                            <circle cx="14.256" cy="17.06" r="1"></circle>
                            <circle cx="20.088" cy="15.736" r="1"></circle>
                            <circle cx="16.865" cy="14.736" r="1"></circle>
                            <circle cx="12.006" cy="33.124" r="1"></circle>
                            <circle cx="15.256" cy="30.8" r="1"></circle>
                            <circle cx="16.865" cy="32.8" r="1"></circle>
                            <path d="M26.184,11.787c0.188-0.043,0.377-0.009,0.53,0.087c0.079,0.049,0.218,0.161,0.259,0.358
                              c0.289,1.4,1.701,2.294,3.153,2.001c0.189-0.042,0.377-0.009,0.53,0.087c0.079,0.049,0.218,0.161,0.259,0.358
                              c0.142,0.689,0.555,1.276,1.163,1.653c0.43,0.267,0.921,0.404,1.423,0.404c0.188,0,0.378-0.019,0.566-0.058
                              c0.541-0.112,0.889-0.642,0.776-1.183c-0.112-0.54-0.64-0.885-1.182-0.776c-0.19,0.04-0.376,0.008-0.53-0.087
                              c-0.079-0.049-0.218-0.161-0.258-0.358c-0.143-0.689-0.556-1.277-1.164-1.653c-0.591-0.368-1.298-0.491-1.989-0.347
                              c-0.37,0.079-0.724-0.124-0.79-0.446c-0.143-0.689-0.556-1.277-1.164-1.653c-0.591-0.367-1.3-0.491-1.99-0.347
                              c-0.541,0.112-0.889,0.642-0.776,1.183C25.113,11.55,25.638,11.897,26.184,11.787z"></path>
                            <path d="M30.14,25.942c-0.552,0.012-0.99,0.47-0.979,1.021c0.003,0.116-0.064,0.192-0.112,0.193
                              c-1.166,0.026-2.093,1.028-2.067,2.235c0.003,0.116-0.064,0.192-0.112,0.193c-0.578,0.013-1.111,0.261-1.504,0.697
                              c-0.376,0.42-0.576,0.966-0.563,1.539c0.012,0.544,0.457,0.978,0.999,0.978c0.008,0,0.015,0,0.023,0
                              c0.552-0.013,0.99-0.47,0.977-1.022c-0.001-0.074,0.038-0.19,0.112-0.191c1.166-0.026,2.094-1.029,2.068-2.236
                              c-0.003-0.116,0.064-0.191,0.111-0.192c1.166-0.026,2.094-1.029,2.068-2.236C31.149,26.369,30.719,25.972,30.14,25.942z"></path>
                            <path d="M22.976,22.292c-0.152,0.345-0.521,0.517-0.821,0.385c-0.644-0.283-1.362-0.288-2.021-0.011
                              c-0.641,0.269-1.151,0.773-1.436,1.421c-0.222,0.505,0.007,1.096,0.513,1.317c0.131,0.058,0.268,0.085,0.402,0.085
                              c0.384,0,0.751-0.223,0.916-0.598c0.078-0.176,0.212-0.312,0.378-0.382c0.086-0.036,0.258-0.083,0.442-0.003
                              c1.31,0.579,2.861-0.055,3.458-1.409c0.078-0.176,0.212-0.312,0.378-0.382c0.086-0.036,0.258-0.083,0.442-0.003
                              c0.644,0.283,1.362,0.288,2.021,0.011c0.641-0.269,1.151-0.773,1.436-1.421c0.222-0.505-0.007-1.096-0.513-1.317
                              c-0.506-0.224-1.095,0.006-1.318,0.513c-0.078,0.176-0.212,0.312-0.378,0.382c-0.085,0.036-0.257,0.082-0.442,0.003
                              c-0.646-0.283-1.363-0.288-2.022-0.011C23.769,21.141,23.26,21.645,22.976,22.292z"></path>
                            <path d="M57.51,18.848c-0.007-0.019-0.022-0.031-0.03-0.05c-0.276-1.106-0.629-2.144-1.059-3.111
                              c-0.014-0.047-0.042-0.089-0.063-0.135c-2.29-5.026-6.57-8.22-11.735-10.163c-0.032-0.016-0.055-0.042-0.09-0.055
                              c-0.024-0.008-0.048-0.004-0.072-0.01c-2.205-0.815-4.566-1.407-6.995-1.823c-0.006-0.002-0.009-0.007-0.015-0.009
                              c-0.13-0.046-0.264-0.063-0.394-0.054c-4.991-0.812-10.241-0.896-15.019-0.647c-0.013,0-0.023-0.007-0.036-0.007
                              c-0.021,0-0.039,0.011-0.061,0.012c-4.286,0.227-8.185,0.715-11.145,1.18C8.234,4.38,6.31,6.444,6.053,9.012
                              c0,0.001,0,0.003,0,0.003c-0.005,0.052-0.02,0.099-0.024,0.15L4.527,28.361c-1.821,1.161-5.663,4.307-4.204,9.463
                              c0.515,1.818,1.356,2.887,2.501,3.174c0.209,0.053,0.55,0.227,0.5,0.545c-0.386,2.448-1.042,6.965-1.091,9.713
                              c-0.024,1.323,0.411,2.433,1.258,3.207c1.2,1.098,2.888,1.262,3.782,1.262c0.314,0,0.531-0.021,0.594-0.027
                              c0.353-0.023,3.474-0.291,4.504-2.447c0.627-1.312,0.297-2.912-0.972-4.751l16.396-6.647c0.003,0.002,0.007,0.002,0.01,0.004
                              c0.195,0.103,0.404,0.184,0.62,0.25c0.034,0.011,0.065,0.028,0.1,0.038c0.25,0.069,0.512,0.115,0.787,0.134
                              c0.228,0.014,0.452,0.014,0.672,0.004c0.049-0.002,0.098-0.009,0.148-0.012c0.187-0.013,0.37-0.034,0.549-0.065
                              c0.045-0.008,0.09-0.016,0.135-0.025c0.211-0.041,0.416-0.094,0.613-0.159c0.013-0.004,0.027-0.008,0.04-0.012
                              c0.731-0.248,1.364-0.653,1.838-1.207c0.18-0.21,0.329-0.445,0.465-0.691c0.004-0.006,0.007-0.013,0.01-0.02
                              c0.132-0.242,0.242-0.503,0.331-0.78c0.003-0.009,0.007-0.015,0.01-0.024l18.779-7.615c0.125-0.042,3.097-1.074,4.619-4.198
                              C58.687,25.084,58.683,22.183,57.51,18.848z M55.004,20.893c-0.348-0.762-0.727-1.512-1.135-2.25l1.184-1.013
                              c0.284,0.787,0.522,1.615,0.698,2.495c0.176,0.879,0.024,1.76-0.376,2.504C55.388,22.082,55.283,21.502,55.004,20.893z
                              M54.219,15.713l-1.398,1.196c-0.747-1.131-1.602-2.214-2.599-3.226l1.218-1.768C52.536,13.019,53.475,14.278,54.219,15.713z
                              M44.111,9.435l0.669-1.846c1.893,0.791,3.633,1.774,5.156,2.982l-1.201,1.744C47.427,11.235,45.898,10.267,44.111,9.435z
                              M37.2,7.252l0.586-1.681c1.769,0.329,3.49,0.758,5.123,1.311l-0.643,1.775C40.757,8.093,39.071,7.623,37.2,7.252z M30.003,6.414
                              V4.721c1.935,0.084,3.876,0.25,5.78,0.521L35.202,6.91C33.6,6.673,31.874,6.504,30.003,6.414z M26.78,4.651
                              c0.406,0,0.814,0.003,1.223,0.01v1.687c-1.57-0.028-3.239-0.001-5,0.077V4.742C24.24,4.687,25.5,4.651,26.78,4.651z M15.003,7.087
                              V5.412c1.837-0.224,3.859-0.423,6-0.562v1.681C19.115,6.654,17.112,6.841,15.003,7.087z M11.108,5.953
                              c0.591-0.093,1.231-0.187,1.895-0.28v1.656c-1.484,0.195-3.04,0.429-4.635,0.686C8.872,6.938,9.875,6.147,11.108,5.953z
                              M10.568,52.385c-0.447,0.941-2.243,1.274-2.875,1.32c-0.479,0.055-2.034,0.031-2.853-0.718c-0.422-0.387-0.622-0.941-0.607-1.695
                              c0.047-2.627,0.688-7.04,1.067-9.437c0.202-1.281-0.634-2.457-1.988-2.797c-0.378-0.095-0.775-0.76-1.063-1.779
                              c-1.171-4.138,2.22-6.596,3.732-7.461l0.459-0.263l1.522-19.45c5.287-0.874,9.931-1.409,14.01-1.651
                              c0.011,0,0.02,0.006,0.031,0.006c0.018,0,0.033-0.009,0.051-0.01c5.398-0.316,9.812-0.124,13.451,0.452
                              c0.019,0.008,0.031,0.023,0.051,0.03c0.109,0.038,0.22,0.056,0.329,0.056c0.032,0,0.062-0.011,0.094-0.015
                              c2.441,0.416,4.515,1.012,6.305,1.741c0.076,0.056,0.151,0.115,0.245,0.149c0.067,0.024,0.135,0.026,0.203,0.035
                              c2.203,0.951,3.947,2.115,5.365,3.414c0.07,0.11,0.162,0.208,0.276,0.287c0.023,0.016,0.048,0.021,0.072,0.035
                              c2.218,2.143,3.61,4.619,4.74,7.09c0.883,1.929-1.665,3.369-1.956,3.525l-18.954,7.881l-0.123,0.487
                              c-0.133,0.53-0.137,1.102-0.013,1.654c0.267,1.182,0.326,2.176,0.189,2.957l-0.023,0.113c-0.177,0.847-0.6,1.343-1.114,1.624
                              c-0.505,0.264-1.073,0.32-1.465,0.321c-0.094-0.001-0.188,0-0.279-0.007c-0.176-0.012-0.335-0.046-0.482-0.097
                              c-0.014-0.005-0.028-0.01-0.042-0.015c-0.145-0.055-0.278-0.127-0.397-0.222l-0.07-0.056c-0.057-0.052-0.114-0.103-0.165-0.166
                              c-0.581-0.715-0.7-2.093-0.564-3.069l0.24-1.732l-16.267,6.764c-1.863,0.724-2.96,1.707-3.353,3.006
                              c-0.417,1.381,0.027,2.976,1.36,4.873C10.307,50.418,10.941,51.598,10.568,52.385z M10.263,45.272
                              c0.2-0.662,0.928-1.241,2.185-1.729l13.254-5.511c0.052,0.706,0.21,1.527,0.595,2.269l-15.877,6.437
                              C10.204,46.164,10.142,45.67,10.263,45.272z M55.737,26.569c-1.142,2.372-3.455,3.199-3.529,3.227L34.389,37.02
                              c-0.026-0.674-0.118-1.398-0.297-2.187c-0.021-0.092-0.034-0.184-0.039-0.274l20.274-8.429c0.77-0.32,1.422-0.811,1.961-1.396
                              C56.187,25.387,56.01,26.003,55.737,26.569z"></path>
                            <path d="M14.046,36.921c4.228,0,7.667-2.738,7.667-6.104c0-2.046-1.002-2.958-1.844-3.363c-0.936-0.45-1.988-0.45-2.823-0.45
                              c-1.573,0-9.667,2.023-9.667,5.813C7.379,36.921,10.469,36.921,14.046,36.921z M17.054,29.004c0.004,0,0.008,0,0.012,0
                              c0.632,0,1.414,0.002,1.936,0.253c0.213,0.103,0.711,0.342,0.711,1.561c0,2.225-2.595,4.104-5.667,4.104
                              c-4.667,0-4.667-0.445-4.667-2.104C9.379,31.038,15.511,29.004,17.054,29.004z"></path>
                            <path d="M16.365,20.695c4.228,0,7.667-2.738,7.667-6.104c0-2.046-1.002-2.958-1.844-3.363c-0.932-0.448-2.012-0.45-2.812-0.45
                              c-0.004,0-0.007,0-0.011,0c-1.573,0-9.667,2.023-9.667,5.813C9.698,20.695,12.788,20.695,16.365,20.695z M19.373,12.778
                              c0.004,0,0.008,0,0.012,0c0.632,0,1.414,0.002,1.936,0.253c0.213,0.103,0.711,0.342,0.711,1.561c0,2.225-2.595,4.104-5.667,4.104
                              c-4.667,0-4.667-0.445-4.667-2.104C11.698,14.812,17.83,12.778,19.373,12.778z"></path>
                            <path d="M32.003,21.551c0,4.103,3.089,4.103,6.667,4.103c4.228,0,7.667-2.737,7.667-6.103c0-2.047-1.003-2.959-1.844-3.363
                              c-0.933-0.449-2.013-0.451-2.812-0.451c-0.004,0-0.007,0-0.011,0C40.096,15.736,32.003,17.76,32.003,21.551z M41.676,17.736
                              c0.004,0,0.008,0,0.012,0c0.632,0,1.415,0.002,1.938,0.253c0.213,0.103,0.711,0.343,0.711,1.562c0,2.224-2.595,4.103-5.667,4.103
                              c-4.667,0-4.667-0.445-4.667-2.103C34.003,19.77,40.135,17.736,41.676,17.736z"></path>
                        </g>
                            
                     </svg>
                            <p class="text-black mt-2 text-lg">foods</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1338">
                        <input type="radio" value="3" asp-for="@Model.Category.Id" id="transaction_category_id_1338">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 59.996 59.996" style="enable-background:new 0 0 59.996 59.996;" xml:space="preserve">
                            <path d="M55.036,4.96C51.838,1.761,47.569,0,43.015,0c-4.553,0-8.822,1.761-12.021,4.96L4.96,30.995C1.761,34.193,0,38.462,0,43.015
                           c0,4.554,1.761,8.823,4.96,12.021c3.198,3.199,7.467,4.96,12.021,4.96s8.822-1.761,12.021-4.96l26.035-26.035
                           c3.199-3.198,4.96-7.467,4.96-12.021S58.235,8.158,55.036,4.96z M53.622,27.587L41.601,39.608L20.388,18.395L32.409,6.374
                           C35.229,3.553,38.996,2,43.015,2c4.02,0,7.786,1.553,10.607,4.374c2.821,2.82,4.374,6.587,4.374,10.606S56.443,24.767,53.622,27.587
                           z"></path>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">medicine</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1339">
                        <input type="radio" value="4" asp-for="@Model.Category.Id" id="transaction_category_id_1339">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 476.944 476.944" style="enable-background:new 0 0 476.944 476.944;" xml:space="preserve">
                            <g>
                            <path d="M84.176,379.875c-26.762,0-48.535,21.772-48.535,48.534s21.772,48.534,48.535,48.534c26.762,0,48.534-21.772,48.534-48.534
                              S110.938,379.875,84.176,379.875z M84.176,446.944c-10.22,0-18.535-8.314-18.535-18.534s8.314-18.534,18.535-18.534
                              c10.22,0,18.534,8.314,18.534,18.534S94.396,446.944,84.176,446.944z"></path>
                            <path d="M342.707,379.875c-26.762,0-48.534,21.772-48.534,48.534s21.772,48.534,48.534,48.534
                              c26.762,0,48.535-21.772,48.535-48.534S369.469,379.875,342.707,379.875z M342.707,446.944c-10.22,0-18.534-8.314-18.534-18.534
                              s8.314-18.534,18.534-18.534c10.22,0,18.535,8.314,18.535,18.534S352.927,446.944,342.707,446.944z"></path>
                            <path d="M413.322,0l-9.835,60H1.999l28.736,175.88c4.044,24.67,26.794,43.995,51.794,43.995h284.917l-6.557,40H50.642v30h335.73
                              L438.804,30h36.141V0H413.322z M372.363,249.875H82.529c-10.174,0-20.543-8.808-22.188-18.841L37.298,90h361.271L372.363,249.875z"></path>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">shopping</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1340">
                        <input type="radio" value="5" asp-for="@Model.Category.Id" id="transaction_category_id_1340">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M384,351.086c-36.757,0-67.812,24.785-77.391,58.514h-17.695V307.2h65.829c84.695,0,153.6-68.905,153.6-153.6
                                 S439.438,0,354.743,0H332.8v131.657H98.743v-7.314c0-36.298-29.531-65.829-65.829-65.829H3.657V102.4h29.257
                                 c12.099,0,21.943,9.844,21.943,21.943V153.6c0,84.695,68.905,153.6,153.6,153.6h36.571v102.4h-17.695
                                 c-9.577-33.729-40.634-58.514-77.391-58.514c-44.364,0-80.457,36.093-80.457,80.457S105.579,512,149.943,512
                                 c36.757,0,67.812-24.785,77.391-58.514h79.277C316.188,487.215,347.244,512,384.001,512c44.364,0,80.457-36.093,80.457-80.457
                                 S428.364,351.086,384,351.086z M149.943,468.114c-20.166,0-36.571-16.406-36.571-36.571s16.406-36.571,36.571-36.571
                                 c20.165,0,36.571,16.406,36.571,36.571S170.108,468.114,149.943,468.114z M208.457,263.314c-52.983,0-97.315-37.755-107.51-87.771
                                 h275.738V46.09c50.017,10.195,87.771,54.527,87.771,107.51c0,60.496-49.218,109.714-109.714,109.714H208.457z M384,468.114
                                 c-20.165,0-36.571-16.406-36.571-36.571s16.406-36.571,36.571-36.571s36.571,16.406,36.571,36.571S404.165,468.114,384,468.114z"></path>
                           </g>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">baby</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1341">
                        <input type="radio" value="6" asp-for="@Model.Category.Id" id="transaction_category_id_1341">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"></path>
                            </svg>
                            <p class="text-black mt-2 text-lg">stationary</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1342">
                        <input type="radio" value="7" asp-for="@Model.Category.Id" id="transaction_category_id_1342">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 299.34 299.34" style="enable-background:new 0 0 299.34 299.34;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M282.868,56.803H204.27l6.877-6.158c0.505-0.452,0.957-0.958,1.35-1.509c10.05-14.091,6.762-33.731-7.331-43.781
                                 c-6.72-4.792-15.185-6.475-23.225-4.612c-8.041,1.861-14.906,7.09-18.837,14.345l-13.434,24.799l-13.434-24.799
                                 c-3.931-7.256-10.797-12.486-18.837-14.346c-8.042-1.862-16.507-0.18-23.225,4.612c-14.091,10.05-17.38,29.69-7.331,43.781
                                 c0.394,0.552,0.847,1.058,1.35,1.509l6.877,6.158H16.474c-5.07,0-9.18,4.11-9.18,9.18v58.204c0,5.07,4.11,9.18,9.18,9.18h2.432
                                 V290.16c0,5.07,4.11,9.18,9.18,9.18h243.17c5.07,0,9.18-4.11,9.18-9.18V133.366h2.432c5.07,0,9.18-4.11,9.18-9.18V65.983
                                 C292.048,60.913,287.937,56.803,282.868,56.803z M179.248,23.833c1.446-2.671,3.873-4.519,6.833-5.204
                                 c0.802-0.186,1.605-0.277,2.401-0.277c2.142,0,4.221,0.664,6.024,1.95c2.834,2.021,4.71,5.023,5.285,8.457
                                 c0.525,3.14-0.096,6.293-1.751,8.977l-21.295,19.067h-15.357L179.248,23.833z M99.549,28.76c0.574-3.432,2.451-6.436,5.286-8.457
                                 c2.473-1.764,5.463-2.359,8.425-1.673c2.959,0.684,5.386,2.533,6.833,5.204l17.86,32.969h-15.357l-21.296-19.067
                                 C99.645,35.053,99.024,31.898,99.549,28.76z M115.508,280.981H37.265V133.367h78.243V280.981z M165.472,280.981h-31.604V133.367
                                 h31.604V280.981z M262.076,280.981h-78.243V133.367h78.243V280.981z M273.688,115.007H25.653V75.163h248.034V115.007z"></path>
                           </g>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">gift</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1344">
                        <input type="radio" value="8" asp-for="@Model.Category.Id" id="transaction_category_id_1344">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 487.954 487.954" style="enable-background:new 0 0 487.954 487.954;" xml:space="preserve">
                            <g transform="translate(0 -540.36)">
                            <g>
                            <g>
                            <path d="M111.847,806.835c-24,0-42.9,18.5-42.9,42.1c0,23.6,19.2,42.9,42.9,42.9c23.2,0,42-19.3,42.1-42.9
                                    C153.947,825.734,135.047,806.835,111.847,806.835z M111.847,871.835c-12.6,0-22.9-10.3-22.9-22.9c0-12.4,10-22.1,22.9-22.1
                                    c12.1,0,22,9.9,22.1,22.1C133.947,861.335,123.847,871.835,111.847,871.835z"></path>
                            <path d="M386.047,806.837c-23.6,0-42.1,18.5-42.1,42.1c0,24,18.5,42.9,42.1,42.9c23.7,0,42.9-19.3,42.9-42.9
                                    S410.147,806.837,386.047,806.837z M386.047,871.837c-12.4,0-22.1-10-22.1-22.9c0-12.6,9.5-22.1,22.1-22.1
                                    c12.9,0,22.9,9.7,22.9,22.1C408.947,861.537,398.647,871.837,386.047,871.837z"></path>
                            <path d="M324.347,838.937l-152.2,10.4c-5.5,0.4-9.7,5.2-9.3,10.7c0.4,5.3,4.8,9.3,10,9.3h0c0.2,0,0.4,0,0.7,0l152.2-10.4
                                    c5.5-0.4,9.7-5.2,9.3-10.7S329.847,838.537,324.347,838.937z"></path>
                            <path d="M485.247,733.637L485.247,733.637l-51.3-53.7c-1.9-2-4.5-3.1-7.2-3.1h-213.2c-2.3,0-4.6,0.8-6.3,2.3l-90.1,73.9
                                    l-99.4,21.2c-3.8,0.8-6.8,3.8-7.7,7.6l-9.8,43.3c-0.4,1.7-0.3,3.4,0.2,5l9.8,32.9c1.3,4.2,5.2,7.2,9.6,7.2h30.9
                                    c5.5,0,10-4.5,10-10s-4.5-10-10-10h-23.5l-6.9-23.3l7.8-34.5l94.6-20.1l345.3-10.1v58.1l-24.4,8.9c-5.2,1.9-7.9,7.6-6,12.8
                                    c1.9,5.2,7.6,7.9,12.8,6l30.9-11.3c3.9-1.4,6.6-5.2,6.6-9.4v-86.7C488.047,738.037,487.047,735.537,485.247,733.637z
                                    M213.247,699.937v49.6l-62.7,1.8L213.247,699.937L213.247,699.937z M315.047,746.537l-81.7,2.4v-52.1l-0.1,0h81.8V746.537z
                                    M407.047,743.837l-72,2.1v-49.1h72V743.837z M427.047,743.337v-41.7l38.7,40.5L427.047,743.337z"></path>
                              </g>
                           </g>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">transport</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1345">
                        <input type="radio" value="9" asp-for="@Model.Category.Id" id="transaction_category_id_1345">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.003 489.003" style="enable-background:new 0 0 489.003 489.003;" xml:space="preserve">
                            <g>
                            <path d="M305.802,156.814c-33.8-19.5-88.4-19.5-122,0s-33.4,51.2,0.4,70.7s88.4,19.5,122,0
                              C339.802,207.914,339.602,176.314,305.802,156.814z M290.302,187.514c-2.9,0.9-5.8,1.9-8.7,2.8c-1.8,0.5-2.9,0.6-3.7,0.2
                              c-0.4-0.3-0.8-0.7-1.2-1.3c-1.9-3.1-4.8-5.8-8.7-8c-0.5-0.3-1.1-0.6-1.7-0.9c-1.3-0.7-2.5-1.2-4.1-1.6c-5.6-1.3-10.6,0.8-9.9,4.3
                              c0.3,1.8,1.3,3.4,2.5,5.1c2,2.8,4.2,5.6,5.6,8.6c4.7,9.4-5.5,18.7-21.9,19.6c-5.9,0.3-11.5-0.4-16.7-2.1c-2.3-0.7-4-0.7-5.7,0.5
                              c-1.7,1.1-3.6,2.1-5.4,3.1c-1.6,0.9-3.3,1-4.9,0.1c-1.2-0.6-2.3-1.3-3.5-1.9c-0.8-0.5-1.6-0.9-2.4-1.4c-1.7-1-1.5-2,0.1-3
                              c1.3-0.8,2.6-1.5,3.8-2.3c2.9-1.7,2.9-1.8,0.5-3.7c-3-2.4-5.7-4.9-7.4-7.7c-1.3-2.2-1-2.7,2.5-3.9c2.6-0.8,5.1-1.7,7.7-2.5
                              c1.9-0.6,3-0.7,3.8-0.3c0.5,0.3,0.8,0.7,1.2,1.4c1.7,3.2,4.6,6,8.1,8.7c0.6,0.5,1.3,0.9,1.9,1.3c1.9,1.1,4.1,1.9,6.6,2.5
                              c6.5,1.5,12.3-1.1,11.7-5.2c-0.2-1.4-0.9-2.6-1.8-3.9c-2.2-3.3-5.1-6.4-6.6-9.9c-2.4-5.6-1.3-10.7,6.4-14.7c8.8-4.5,18.6-4.8,29-2
                              c4.3,1.2,4.2,1.2,7.5-0.7c1.1-0.7,2.2-1.3,3.3-1.9c2.5-1.4,3.4-1.4,5.9,0c0.8,0.4,1.5,0.9,2.3,1.3c5.3,3,5.3,3,0.1,6.1
                              c-3.7,2.1-3.7,2.1-0.6,4.6c2.4,1.9,4.3,3.9,5.7,6.1C292.702,186.014,292.302,186.914,290.302,187.514z M350.902,253.314
                              c-9.3,5.4-24.4,5.4-33.8,0c-9.3-5.4-9.4-14.2-0.1-19.6c9.3-5.4,24.4-5.4,33.8,0C360.202,239.114,360.302,247.914,350.902,253.314z
                              M172.902,150.514c-9.3,5.4-24.4,5.4-33.8,0c-9.4-5.4-9.4-14.2-0.1-19.6c9.3-5.4,24.4-5.4,33.8,0
                              C182.102,136.314,182.202,145.114,172.902,150.514z M477.402,211.414l-266.5-153.9c-15.4-8.9-40.4-8.9-55.7,0l-142.9,83
                              c-15.3,8.9-15.2,23.4,0.2,32.3l266.5,153.9c15.4,8.9,40.4,8.9,55.7,0l142.8-83C492.902,234.814,492.802,220.314,477.402,211.414z
                              M337.602,297.414c-1.7-1.6-3.7-3.1-6.1-4.5c-15.6-9-40.9-9-56.4,0c-1.2,0.7-2.2,1.4-3.3,2.2l-206.9-119.5c2-0.8,3.9-1.7,5.7-2.7
                              c15.5-9,15.4-23.6-0.2-32.6c-1.7-1-3.5-1.9-5.4-2.6l85.3-49.6c1.3,1.1,2.8,2.1,4.5,3.1c15.6,9,40.9,9,56.4,0c1.8-1,3.3-2.1,4.7-3.3
                              l207.6,119.8c-2.8,1-5.3,2.1-7.7,3.5c-15.5,9-15.5,23.7,0.2,32.7c2.4,1.4,5.1,2.5,7.9,3.5L337.602,297.414z M5.502,203.614
                              c6.8-3.5,17.3-3,23.8,0.8l278.6,160.8l150.6-87.6c6.5-3.8,17.2-3.8,23.8,0c6.6,3.8,6.6,10,0.1,13.8l-160.1,93
                              c-7.8,4.6-20.6,4.6-28.5,0l-5.6-3.2l-3.9-2.3l-279.3-161.2C-1.798,213.814-1.698,207.314,5.502,203.614z M482.602,341.714
                              l-160.1,93c-7.8,4.6-20.6,4.6-28.5,0l-5.5-3.2l-4-2.3l-279.3-161.2c-6.8-3.9-6.6-10.4,0.6-14.1c6.7-3.5,17.3-3,23.8,0.8
                              l278.5,160.8l150.6-87.5c6.6-3.8,17.2-3.8,23.8,0C489.102,331.714,489.202,337.914,482.602,341.714z"></path>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">cash</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1346">
                        <input type="radio" value="10" asp-for="@Model.Category.Id" id="transaction_category_id_1346">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-labelledby="planeIconTitle" stroke="#000000" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" color="#000000">
                                <title id="planeIconTitle">Plane</title>
                                <path d="M18.3937 4.3638L14 7L6 5L5 6L10.5 10.5L8 14H5L4 15L6.5 16.5L7.5 17.5L9 20L10 19V16L13.5 13.5L18 19L19 18L17 10L19.6362 5.60634C19.85 5.24999 19.7939 4.79385 19.5 4.5C19.2061 4.20615 18.75 4.14999 18.3937 4.3638Z"></path>
                            </svg>
                            <p class="text-black mt-2 text-lg">travel</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1347">
                        <input type="radio" value="11" asp-for="@Model.Category.Id" id="transaction_category_id_1347">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.003 489.003" style="enable-background:new 0 0 489.003 489.003;" xml:space="preserve">
                            <g>
                            <path d="M305.802,156.814c-33.8-19.5-88.4-19.5-122,0s-33.4,51.2,0.4,70.7s88.4,19.5,122,0
                              C339.802,207.914,339.602,176.314,305.802,156.814z M290.302,187.514c-2.9,0.9-5.8,1.9-8.7,2.8c-1.8,0.5-2.9,0.6-3.7,0.2
                              c-0.4-0.3-0.8-0.7-1.2-1.3c-1.9-3.1-4.8-5.8-8.7-8c-0.5-0.3-1.1-0.6-1.7-0.9c-1.3-0.7-2.5-1.2-4.1-1.6c-5.6-1.3-10.6,0.8-9.9,4.3
                              c0.3,1.8,1.3,3.4,2.5,5.1c2,2.8,4.2,5.6,5.6,8.6c4.7,9.4-5.5,18.7-21.9,19.6c-5.9,0.3-11.5-0.4-16.7-2.1c-2.3-0.7-4-0.7-5.7,0.5
                              c-1.7,1.1-3.6,2.1-5.4,3.1c-1.6,0.9-3.3,1-4.9,0.1c-1.2-0.6-2.3-1.3-3.5-1.9c-0.8-0.5-1.6-0.9-2.4-1.4c-1.7-1-1.5-2,0.1-3
                              c1.3-0.8,2.6-1.5,3.8-2.3c2.9-1.7,2.9-1.8,0.5-3.7c-3-2.4-5.7-4.9-7.4-7.7c-1.3-2.2-1-2.7,2.5-3.9c2.6-0.8,5.1-1.7,7.7-2.5
                              c1.9-0.6,3-0.7,3.8-0.3c0.5,0.3,0.8,0.7,1.2,1.4c1.7,3.2,4.6,6,8.1,8.7c0.6,0.5,1.3,0.9,1.9,1.3c1.9,1.1,4.1,1.9,6.6,2.5
                              c6.5,1.5,12.3-1.1,11.7-5.2c-0.2-1.4-0.9-2.6-1.8-3.9c-2.2-3.3-5.1-6.4-6.6-9.9c-2.4-5.6-1.3-10.7,6.4-14.7c8.8-4.5,18.6-4.8,29-2
                              c4.3,1.2,4.2,1.2,7.5-0.7c1.1-0.7,2.2-1.3,3.3-1.9c2.5-1.4,3.4-1.4,5.9,0c0.8,0.4,1.5,0.9,2.3,1.3c5.3,3,5.3,3,0.1,6.1
                              c-3.7,2.1-3.7,2.1-0.6,4.6c2.4,1.9,4.3,3.9,5.7,6.1C292.702,186.014,292.302,186.914,290.302,187.514z M350.902,253.314
                              c-9.3,5.4-24.4,5.4-33.8,0c-9.3-5.4-9.4-14.2-0.1-19.6c9.3-5.4,24.4-5.4,33.8,0C360.202,239.114,360.302,247.914,350.902,253.314z
                              M172.902,150.514c-9.3,5.4-24.4,5.4-33.8,0c-9.4-5.4-9.4-14.2-0.1-19.6c9.3-5.4,24.4-5.4,33.8,0
                              C182.102,136.314,182.202,145.114,172.902,150.514z M477.402,211.414l-266.5-153.9c-15.4-8.9-40.4-8.9-55.7,0l-142.9,83
                              c-15.3,8.9-15.2,23.4,0.2,32.3l266.5,153.9c15.4,8.9,40.4,8.9,55.7,0l142.8-83C492.902,234.814,492.802,220.314,477.402,211.414z
                              M337.602,297.414c-1.7-1.6-3.7-3.1-6.1-4.5c-15.6-9-40.9-9-56.4,0c-1.2,0.7-2.2,1.4-3.3,2.2l-206.9-119.5c2-0.8,3.9-1.7,5.7-2.7
                              c15.5-9,15.4-23.6-0.2-32.6c-1.7-1-3.5-1.9-5.4-2.6l85.3-49.6c1.3,1.1,2.8,2.1,4.5,3.1c15.6,9,40.9,9,56.4,0c1.8-1,3.3-2.1,4.7-3.3
                              l207.6,119.8c-2.8,1-5.3,2.1-7.7,3.5c-15.5,9-15.5,23.7,0.2,32.7c2.4,1.4,5.1,2.5,7.9,3.5L337.602,297.414z M5.502,203.614
                              c6.8-3.5,17.3-3,23.8,0.8l278.6,160.8l150.6-87.6c6.5-3.8,17.2-3.8,23.8,0c6.6,3.8,6.6,10,0.1,13.8l-160.1,93
                              c-7.8,4.6-20.6,4.6-28.5,0l-5.6-3.2l-3.9-2.3l-279.3-161.2C-1.798,213.814-1.698,207.314,5.502,203.614z M482.602,341.714
                              l-160.1,93c-7.8,4.6-20.6,4.6-28.5,0l-5.5-3.2l-4-2.3l-279.3-161.2c-6.8-3.9-6.6-10.4,0.6-14.1c6.7-3.5,17.3-3,23.8,0.8
                              l278.5,160.8l150.6-87.5c6.6-3.8,17.2-3.8,23.8,0C489.102,331.714,489.202,337.914,482.602,341.714z"></path>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">cash</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1348">
                        <input type="radio" value="12" asp-for="@Model.Category.Id" id="transaction_category_id_1348">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <svg width="64px" height="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione-monotone" preserveAspectRatio="xMidYMid meet">
                                <path d="M59.352 26.85h-2.117a.767.767 0 0 0-.253-.567a24.857 24.857 0 0 0-2.144-9.45v-4.617a2.65 2.65 0 0 0-2.648-2.645h-2.12a.775.775 0 0 0-.777-.777c-.05 0-.094.02-.142.028C44.675 4.596 38.642 2 32 2c-7.155 0-13.604 3.012-18.161 7.83H12.07a2.649 2.649 0 0 0-2.648 2.645v3.783a24.866 24.866 0 0 0-2.404 10.025a.775.775 0 0 0-.25.566h-2.12A2.652 2.652 0 0 0 2 29.496v5.791a2.649 2.649 0 0 0 2.648 2.643h4.863a25.054 25.054 0 0 0 4.29 6.201h-1.989a2.649 2.649 0 0 0-2.65 2.645v5.791a2.649 2.649 0 0 0 2.65 2.643h3.603L12 62h2.594l3.419-6.832a2.64 2.64 0 0 0 2.239-2.602V51.02l.835-1.545a24.802 24.802 0 0 0 6.299 2.093a2.629 2.629 0 0 0-.931 1.997v5.789A2.65 2.65 0 0 0 29.103 62h5.793a2.651 2.651 0 0 0 2.648-2.646v-5.789c0-.802-.366-1.511-.932-1.997a24.808 24.808 0 0 0 6.332-2.108l.543 1.005v1.841c0 1.375 1.062 2.497 2.409 2.62L49.406 62H52l-3.516-7.051h3.445a2.65 2.65 0 0 0 2.648-2.645v-5.789a2.648 2.648 0 0 0-2.648-2.646l-1.483.001a25.012 25.012 0 0 0 4.041-5.94h4.864a2.647 2.647 0 0 0 2.648-2.643v-5.791a2.647 2.647 0 0 0-2.647-2.646M3.559 32.391v-2.895c0-.602.488-1.088 1.09-1.088h2.394a24.95 24.95 0 0 0 .547 3.982H3.559zm48.63-21.264c.602 0 1.092.488 1.092 1.09v1.665a24.949 24.949 0 0 0-1.968-2.755h.876m-1.678 3.983l-5.206.001v-.002l2.942-2.942a22.104 22.104 0 0 1 2.264 2.943m-4.115-3.983h.062l-1.153 1.153v-.063c0-.602.49-1.09 1.091-1.09M33 5.025a22.26 22.26 0 0 1 2.979.358c.001.014.009.025.009.04v2.895H33V5.025m0 8.832h1.896a2.648 2.648 0 0 0 2.648-2.643V5.728a21.9 21.9 0 0 1 8.044 3.982a2.643 2.643 0 0 0-1.843 2.507v1.623l-6.708 6.708a8.17 8.17 0 0 0-4.038-1.68v-5.011zm4.484 13.16a5.485 5.485 0 0 1-1.894 4.148l-1.381-2.547a2.725 2.725 0 0 0 .522-1.602a2.753 2.753 0 1 0-5.506 0c0 .626.218 1.197.569 1.659l-1.375 2.538a5.49 5.49 0 0 1-1.948-4.197a5.506 5.506 0 1 1 11.013.001m-3.825 5.242a5.492 5.492 0 0 1-3.291.024l1.37-2.538c.081.007.158.024.24.024c.108 0 .212-.02.317-.032l1.364 2.522M28.014 5.424c0-.015.008-.026.009-.04A22.05 22.05 0 0 1 31 5.025v3.293h-2.986V5.424m-1.559.304v5.487a2.648 2.648 0 0 0 2.648 2.643H31v5.004a8.172 8.172 0 0 0-4.056 1.669l-6.433-6.433v-1.623a2.641 2.641 0 0 0-2.287-2.608a21.885 21.885 0 0 1 8.231-4.139m-8.592 5.659c.602 0 1.092.488 1.092 1.088v.065l-1.153-1.153h.061m-2.109.78l3.201 3.202h-5.619a21.984 21.984 0 0 1 2.418-3.202m-4.774.308c0-.6.49-1.088 1.092-1.088h.409a25.347 25.347 0 0 0-1.501 2.087v-.999m-.033 8.175c.343.161.721.258 1.125.258h5.791a2.647 2.647 0 0 0 2.648-2.643v-1.34l5.014 5.014A8.158 8.158 0 0 0 23.831 26H10.025c.083-1.854.409-3.644.922-5.35m.586 11.741h-.848a21.937 21.937 0 0 1-.624-3.982h.38a1.09 1.09 0 0 1 1.092 1.088v2.894m.89 4.631c.41-.466.667-1.068.667-1.735v-5.791c0-.556-.174-1.07-.468-1.496h11.204a8.16 8.16 0 0 0 1.686 4.074l-9.758 9.759a21.96 21.96 0 0 1-3.331-4.811m6.272 12.135l-.279.515l-7.695-.002v-2.895c0-.6.49-1.088 1.092-1.088h3.589a25.05 25.05 0 0 0 3.294 2.474v.996zm1.845-3.404c-.252-.155-.508-.306-.753-.47a2.645 2.645 0 0 0-1.414-1.024a22.39 22.39 0 0 1-1.205-1.012l9.759-9.759c.061.048.129.084.191.13L20.54 45.753m1.973 1.08l6.559-12.15a8.123 8.123 0 0 0 1.929.487v13.805a21.772 21.772 0 0 1-8.488-2.142m13.475 9.628h-7.975v-2.896c0-.6.488-1.088 1.09-1.088h5.793c.602 0 1.092.488 1.092 1.088v2.896M33 48.975V35.163a8.125 8.125 0 0 0 1.954-.506l6.566 12.162A21.849 21.849 0 0 1 33 48.975m10.644-3.318c-.049.03-.101.057-.149.087l-6.596-12.167c.051-.038.107-.068.157-.107l9.777 9.777c-.24.22-.498.419-.748.627a2.64 2.64 0 0 0-2.441 1.783m8.286-.231c.602 0 1.092.488 1.092 1.09v2.895h-7.54l-.437-.806v-.276a25.13 25.13 0 0 0 3.848-2.902h3.037zm-3.683-3.593l-9.782-9.782A8.162 8.162 0 0 0 40.133 28h11.245c-.294.426-.468.94-.468 1.496v5.791c0 .667.257 1.271.667 1.735a22.024 22.024 0 0 1-3.33 4.811m5.067-9.442h-.846v-2.895c0-.602.488-1.088 1.09-1.088h.38a21.775 21.775 0 0 1-.624 3.983M40.128 26a8.16 8.16 0 0 0-1.678-4.037l5.296-5.295v1.338a2.65 2.65 0 0 0 2.65 2.645h5.793c.289 0 .563-.059.823-.145c.54 1.749.877 3.589.962 5.494H40.128m20.315 6.391h-4.032a24.95 24.95 0 0 0 .547-3.982h2.394a1.09 1.09 0 0 1 1.092 1.088v2.894z" fill="currentColor"></path>
                            </svg>
                            <p class="text-black mt-2 text-lg">entertainment</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1349">
                        <input type="radio" value="13" asp-for="@Model.Category.Id" id="transaction_category_id_1349">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480.006 480.006" style="enable-background:new 0 0 480.006 480.006;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M302.253,124.928c-2.832-2.608-8.962-4.58-14.244,0.68L144.12,268.988c-15.563,15.562-22.407,32.152-20.341,49.313
                                 c1.895,15.727,10.872,27.622,18.077,34.837c11.468,11.464,24.397,17.276,38.433,17.276c0.015,0,0.03,0,0.045,0
                                 c21.953-0.02,39.514-14.35,48.016-22.879l216.294-216.25c15.058-15.055,23.095-34.692,22.63-55.31
                                 c-0.479-19.748-8.854-38.53-22.987-51.566C431.663,11.86,413.41,2.983,395.41,0.647c-15.964-2.071-39.372-0.166-60.218,20.678
                                 L46.337,310.209c-42.743,42.71-44.854,93.733-5.647,136.489c0.159,0.174,0.325,0.342,0.497,0.505
                                 c23.004,21.768,47.046,32.804,71.466,32.803c0.015,0,0.034,0,0.049,0c24.483-0.015,47.977-11.089,69.848-32.938l67.314-67.632
                                 l155.287-155.69c3.9-3.911,3.893-10.242-0.019-14.142c-3.91-3.9-10.241-3.892-14.142,0.018L235.696,365.32l-67.302,67.619
                                 c-35.938,35.9-75.076,35.89-113.202-0.02c-31.777-34.857-29.909-73.4,5.284-108.566L349.335,35.468
                                 c26.808-26.805,63.483-14.244,80.963,3.236c0.102,0.103,0.208,0.203,0.314,0.301c10.243,9.387,16.317,23.039,16.667,37.437
                                 c0.34,15.089-5.618,29.543-16.776,40.699L214.197,333.403c-5.094,5.11-18.593,16.997-33.881,17.011c-0.009,0-0.019,0-0.027,0
                                 c-8.659,0-16.607-3.736-24.287-11.414c-12.219-12.239-21.747-31.866,2.247-55.857c1.428-1.422,142.736-142.242,144.25-143.739
                                 l-1.536,1.602C300.963,141.006,310.543,132.85,302.253,124.928z"></path>
                           </g>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">other</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1350">
                        <input type="radio" value="14" asp-for="@Model.Category.Id" id="transaction_category_id_1350">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                            <g>
                            <g>
                            <circle cx="386.515" cy="174.802" r="5.759"></circle>
                            <path d="M332.67,183.117c3.177-0.15,5.63-2.848,5.481-6.026c-0.151-3.178-2.848-5.63-6.024-5.48
                                    c-3.18,0.15-5.634,2.845-5.485,6.023C326.793,180.814,329.49,183.266,332.67,183.117z"></path>
                            <path d="M453.268,177.409c3.18-0.151,5.631-2.844,5.481-6.024c-0.148-3.178-2.846-5.632-6.026-5.482
                                    c-3.176,0.15-5.628,2.848-5.481,6.027C447.392,175.109,450.091,177.559,453.268,177.409z"></path>
                            <path d="M302.973,169.333c3.176-0.152,5.629-2.851,5.478-6.026c-0.15-3.18-2.848-5.632-6.023-5.482
                                    c-3.179,0.151-5.632,2.844-5.485,6.026C297.095,167.027,299.794,169.484,302.973,169.333z"></path>
                            <path d="M484.462,333.757v-85.673c0-2.156-0.856-4.223-2.38-5.748l-13.536-13.538c-6.632-6.628-17.419-6.624-24.052,0.003
                                    l-7.255,7.257c-0.274,0.274-0.767,0.284-1.057-0.005l-7.253-7.248c-0.61-0.611-1.272-1.153-1.956-1.659
                                    c4.245-0.73,8.45-1.562,12.546-2.534c25.486-6.049,42.121-16.006,49.461-29.601c7.643-11.115,11.343-24.124,10.703-37.65
                                    c-0.733-15.471-7.212-29.977-18.242-40.845c-0.115-0.113-0.233-0.223-0.353-0.328c-3.29-2.888-8.278-2.651-11.281,0.539
                                    c-1.299,1.38-2.024,3.097-2.179,4.855c-2.468,16.857-16.559,29.633-33.644,30.441c-1.297,0.062-2.677,0.092-4.102,0.092
                                    c-16.837,0.001-39.386-4.286-61.192-8.432c-22.313-4.243-43.388-8.25-59.883-8.25c-1.455,0-2.873,0.033-4.217,0.096
                                    c-25.008,1.184-44.393,22.492-43.21,47.499c0.907,19.189,13.83,35.752,32.192,41.315c0.05,0.018,0.107,0.036,0.158,0.055
                                    c-2.827,0.736-5.505,2.191-7.717,4.401l-13.531,13.536c-1.524,1.524-2.38,3.592-2.38,5.748v87.496
                                    c-0.599,0.232-1.189,0.481-1.77,0.747H30.751C13.795,336.326,0,350.122,0,367.08c0,16.957,13.795,30.751,30.751,30.751h449.041
                                    c17.76,0,32.209-14.449,32.209-32.208C512,349.45,500.015,336.027,484.462,333.757z M436.709,252.526h0.003
                                    c4.548,0,8.819-1.765,12.026-4.971l7.253-7.256c0.277-0.276,0.783-0.275,1.058-0.002l11.153,11.155v81.963h-41.995v-84.528
                                    C429.187,251.238,432.844,252.526,436.709,252.526z M277.62,182.262c-0.758-16.053,11.684-29.731,27.738-30.492
                                    c1.088-0.051,2.247-0.077,3.448-0.077c11.553,0,26.322,2.309,42.365,5.245c-1.173,1.112-1.889,2.69-1.808,4.434
                                    c0.15,3.177,2.849,5.631,6.027,5.482c3.177-0.151,5.629-2.85,5.478-6.026c-0.037-0.782-0.231-1.515-0.544-2.182
                                    c1.768,0.335,3.543,0.671,5.329,1.011c22.547,4.287,45.862,8.721,64.231,8.72c1.679,0,3.317-0.037,4.869-0.112
                                    c13.838-0.655,26.31-6.727,35.284-16.2c0.956,2.062,3.084,3.453,5.494,3.338c3.177-0.152,5.63-2.849,5.481-6.025
                                    c-0.129-2.727-2.139-4.909-4.713-5.382c0.836-1.33,1.637-2.686,2.352-4.094c2.838,5.615,4.489,11.81,4.793,18.231
                                    c0.453,9.598-2.07,18.833-7.294,26.807c0.441-0.864,0.693-1.837,0.644-2.877c-0.152-3.176-2.847-5.63-6.027-5.481
                                    c-3.177,0.15-5.631,2.849-5.481,6.025c0.151,3.18,2.848,5.63,6.025,5.482c1.689-0.08,3.156-0.889,4.154-2.096
                                    c-0.223,0.313-0.443,0.63-0.621,0.974c-9.174,17.759-49.072,28.362-106.728,28.362c-35.164,0-63.193-4.022-69.005-6.272
                                    c-0.207-0.081-0.419-0.153-0.633-0.216C286.589,205.327,278.207,194.645,277.62,182.262z M409.117,247.556l0.83-0.83v86.689
                                    h-23.739v-84.826C392.882,254.16,402.854,253.819,409.117,247.556z M391.473,230.967c3.933-0.214,7.977-0.494,12.09-0.853
                                    l-5.944,5.945c-0.275,0.277-0.779,0.275-1.055,0.002L391.473,230.967z M369.5,247.554l0.447-0.447v86.307h-23.738v-85.169
                                    C352.88,254.158,363.11,253.941,369.5,247.554z M352.195,231.308c3.429,0.116,6.876,0.201,10.309,0.244l-4.5,4.504
                                    c-0.279,0.279-0.785,0.279-1.059,0.004L352.195,231.308z M324.84,229.595l-6.462,6.464c-0.275,0.278-0.78,0.275-1.056,0.002
                                    l-7.26-7.263c-0.392-0.392-0.801-0.758-1.222-1.105C313.576,228.406,318.99,229.048,324.84,229.595z M286.359,251.451h0.001
                                    l11.147-11.15c0.276-0.278,0.783-0.279,1.059-0.005l7.258,7.262c6.633,6.631,17.422,6.631,24.053-0.002l0.07-0.07v85.93h-43.588
                                    V251.451z M30.751,381.571c-7.99,0-14.491-6.501-14.491-14.491c0-7.991,6.501-14.493,14.491-14.493h221.495
                                    c-1.772,3.989-2.766,8.398-2.766,13.036c0,5.799,1.549,11.242,4.244,15.948H30.751z M479.791,381.571H281.687
                                    c-8.793,0-15.948-7.154-15.948-15.948c0-8.793,7.154-15.949,15.948-15.949h198.104c8.793,0,15.949,7.154,15.949,15.949
                                    C495.74,374.417,488.586,381.571,479.791,381.571z"></path>
                            <path d="M303.961,190.24c-0.15-3.176-2.847-5.63-6.027-5.482c-3.176,0.151-5.631,2.851-5.482,6.025
                                    c0.151,3.18,2.85,5.631,6.027,5.482C301.659,196.114,304.112,193.418,303.961,190.24z"></path>
                              </g>
                           </g>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">personal_care</p>
                        </div>
                    </label>
                    <label class="relative flex items-center gap-1 mb-4" for="transaction_category_id_1343">
                        <input type="radio" value="15" asp-for="@Model.Category.Id" id="transaction_category_id_1343">
                        <div class="flex flex-col justify-center items-center w-16 h-16" id="categories">
                            <!--?xml version="1.0" encoding="iso-8859-1"?-->
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 487.954 487.954" style="enable-background:new 0 0 487.954 487.954;" xml:space="preserve">
                            <g transform="translate(0 -540.36)">
                            <g>
                            <g>
                            <path d="M111.847,806.835c-24,0-42.9,18.5-42.9,42.1c0,23.6,19.2,42.9,42.9,42.9c23.2,0,42-19.3,42.1-42.9
                                    C153.947,825.734,135.047,806.835,111.847,806.835z M111.847,871.835c-12.6,0-22.9-10.3-22.9-22.9c0-12.4,10-22.1,22.9-22.1
                                    c12.1,0,22,9.9,22.1,22.1C133.947,861.335,123.847,871.835,111.847,871.835z"></path>
                            <path d="M386.047,806.837c-23.6,0-42.1,18.5-42.1,42.1c0,24,18.5,42.9,42.1,42.9c23.7,0,42.9-19.3,42.9-42.9
                                    S410.147,806.837,386.047,806.837z M386.047,871.837c-12.4,0-22.1-10-22.1-22.9c0-12.6,9.5-22.1,22.1-22.1
                                    c12.9,0,22.9,9.7,22.9,22.1C408.947,861.537,398.647,871.837,386.047,871.837z"></path>
                            <path d="M324.347,838.937l-152.2,10.4c-5.5,0.4-9.7,5.2-9.3,10.7c0.4,5.3,4.8,9.3,10,9.3h0c0.2,0,0.4,0,0.7,0l152.2-10.4
                                    c5.5-0.4,9.7-5.2,9.3-10.7S329.847,838.537,324.347,838.937z"></path>
                            <path d="M485.247,733.637L485.247,733.637l-51.3-53.7c-1.9-2-4.5-3.1-7.2-3.1h-213.2c-2.3,0-4.6,0.8-6.3,2.3l-90.1,73.9
                                    l-99.4,21.2c-3.8,0.8-6.8,3.8-7.7,7.6l-9.8,43.3c-0.4,1.7-0.3,3.4,0.2,5l9.8,32.9c1.3,4.2,5.2,7.2,9.6,7.2h30.9
                                    c5.5,0,10-4.5,10-10s-4.5-10-10-10h-23.5l-6.9-23.3l7.8-34.5l94.6-20.1l345.3-10.1v58.1l-24.4,8.9c-5.2,1.9-7.9,7.6-6,12.8
                                    c1.9,5.2,7.6,7.9,12.8,6l30.9-11.3c3.9-1.4,6.6-5.2,6.6-9.4v-86.7C488.047,738.037,487.047,735.537,485.247,733.637z
                                    M213.247,699.937v49.6l-62.7,1.8L213.247,699.937L213.247,699.937z M315.047,746.537l-81.7,2.4v-52.1l-0.1,0h81.8V746.537z
                                    M407.047,743.837l-72,2.1v-49.1h72V743.837z M427.047,743.337v-41.7l38.7,40.5L427.047,743.337z"></path>
                              </g>
                           </g>
                        </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                     </svg>
                            <p class="text-black mt-2 text-lg">home</p>
                        </div>
                    </label>
                    *@
                </div>
            </div>
            <input type="hidden" asp-for="@Model.Trans.Id" />
            <div class="flex flex-col items-center w-full">
                <label class="font-bold text-transparent text-md bg-clip-text p-2 text-black from-[#CE00D2] to-zinc-700 w-full" for="transaction_transaction_type">Transaction type</label>
                <input readonly="readonly" value="@Model.Trans.Type" class="border-2 border-gray-400 rounded-full w-full px-6 text-xl" type="text" asp-for="@Model.Trans.Type" id="transaction_transaction_type">
            </div>
            <div class="flex flex-col items-center w-full">
                <label class="font-bold text-transparent text-md bg-clip-text p-2 text-black from-[#CE00D2] to-zinc-700 w-full" for="transaction_name">Name</label>
                <input class="border-2 border-gray-400 rounded-full w-full px-6 text-xl" type="text" asp-for="@Model.Trans.Name" id="transaction_name">
            </div>
            <div class="flex flex-col items-center w-full">
                <label class="font-bold text-transparent text-md bg-clip-text p-2 text-black from-[#CE00D2] to-zinc-700 w-full" for="transaction_price">Price</label>
                <input class="border-2 border-gray-400 rounded-full w-full px-6 text-xl" type="number" step="any" asp-for="@Model.Trans.Price" value=@Model.Trans.Price?.ToString(System.Globalization.CultureInfo.InvariantCulture) id="transaction_price">
            </div>
            <input type="hidden" asp-for="@Model.Trans.WalletId" value="@Model.Wallet.Id" />
            <div class="flex flex-row gap-2">
                <a asp-page="/Main" asp-page-handler="CancelTransAdd" asp-route-walletId="@Model.Wallet.Id" asp-route-transid="@Model.Trans.Id" class="w-auto py-2 px-10 text-md bg-gray-400 rounded-full text-white font-bold mt-4 cursor-pointer">Cancel</a>
                <input asp-page="/Main" asp-page-handler="SaveTrans" data-turbo-frame="main-frame" type="submit" name="commit" value="Save" class="w-auto py-2 px-10 text-md bg-gradient-to-r from-[#CE00D2] to-gray-400 rounded-full text-white font-bold mt-4 cursor-pointer" data-disable-with="Save">
            </div>
        </div>
    </form>
</turbo-frame>