@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HOTWallets.Pages.MainModel



<turbo-frame id="main-frame">
    <main class="container mx-auto mt-5 px-5">
        @*<turbo-cable-stream-source channel="Turbo::StreamsChannel" signed-stream-name="IloybGtPaTh2YUc5MGQyRnNiR1YwY3k5QlkyTnZkVzUwTHpjejpaMmxrT2k4dmFHOTBkMkZzYkdWMGN5OVhZV3hzWlhRdk1URTAi--1653965c3af0f77a757b2e7d5c46b4f9f1eacba05d065760557c097ebcf88901"></turbo-cable-stream-source> *@
        <section class="flex justify-between max-w-screen-2xl max-h-max mt-12 w-full px-16">
            <aside class="flex flex-col bg-gray-100 rounded-tl-[50px] rounded-bl-[50px] px-4 py-6">
                <div class="flex items-center flex-col mt-6 w-96">
                    <div class="flex justify-between text-center px-10 gap-10">
                        <a asp-page="/Main" asp-page-handler="AddTrans" asp-route-cardId="@Model.Card.Id" asp-route-walletId="@Model.Wallet.Id" asp-route-type="Expense" class="flex justify-center py-2 px-5 text-xl font-medium rounded-full text-white bg-red-800 basis-1/2" data-turbo-frame="new_transaction">-</a>

                        <a asp-page="/Main" asp-page-handler="AddTrans" asp-route-cardId="@Model.Card.Id" asp-route-walletId="@Model.Wallet.Id" asp-route-type="Income" class="flex justify-center py-2 px-5 text-xl font-medium rounded-full text-white bg-green-800 basis-1/2" data-turbo-frame="new_transaction">+</a>
                    </div>
                    <div class="overflow-y-scroll w-full h-[calc(100vh-288px)]">
                        <turbo-frame id="index_transaction">
                            <turbo-frame id="new_transaction"></turbo-frame>

                            <div id="wallet_transactions">
                                @foreach (var tran in @Model.Wallet.Transactions)
                                {
                                    <partial name="_WalletTransaction" model="@tran"></partial>
                                }
                            </div>
                        </turbo-frame>
                    </div>

                </div>
            </aside>
            <section class="w-screen rounded-tr-[50px] rounded-br-[50px] bg-gray-300/50 flex flex-col justify-start px-6 py-2">
                @*<div class="flex items-center justify-start">
                <p class="text-xl">
                Users:
                </p>

                <div class="flex mt-2 gap-4 pb-2 ml-4">

                <div class="flex items-center space-x-1 mx-auto">
                <div class="flex flex-shrink-0 -space-x-2">

                <span class="inline-block relative z-10" data-action="mouseenter->tooltip#open mouseleave->tooltip#close">
                <div class="tooltip" data-tooltip-target="content" hidden="">
                burak küçük
                </div>
                <span class="inline-flex items-center justify-center ring-1 border-2 ring-[#ffdb4d]
                h-14 w-14 rounded-full
                bg-gray-400">
                <span class="text-xs font-medium leading-none text-white">bk</span>
                </span>
                </span>

                <div class="w-8 h-8 text-xs" hidden=""></div>
                <div class="w-11 h-11 text-m" hidden=""></div>
                <div class="w-16 h-16" hidden=""></div>

                </div>

                </div>

                </div>
                </div>*@

                <div id="chart_loader_wallet_@Model.Wallet.Id">
                    <turbo-frame id="chart_wallet_@Model.Wallet.Id" 
                    @*src="https://hotwallets-staging.herokuapp.com/wallets/114/chart"*@
                    >
                        <div class="flex flex-col justify-start items-center mb-10">
                            <h1 class="text-black text-8xl font-bold font-mono mt-8">
                                @Model.Wallet.Balance
                            </h1>
                        </div>

                        <div id="chart-1" style="height: 400px; width: 100%; text-align: center; color: #999; line-height: 400px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;"><canvas style="display: block; box-sizing: border-box; height: 400px; width: 904px;" width="904" height="400"></canvas></div>
                        <script>
                            (function () {
                                if (document.documentElement.hasAttribute("data-turbolinks-preview")) return;
                                if (document.documentElement.hasAttribute("data-turbo-preview")) return;

                                var createChart = function () { new Chartkick["PieChart"]("chart-1", [["shopping", 1], ["bank", 1]], { "colors": ["#fca5a5", "#f87171", "#ef4444", "#fdba74", "#fb923c", "#f97316", "#86efac", "#4ade80", "#22c55e", "#5eead4", "#2dd4bf", "#14b8a6", "#67e8f9", "#22d3ee", "#06b6d4", "#93c5fd", "#60a5fa", "#3b82f6", "#c4b5fd", "#a78bfa", "#8b5cf6"] }); };
                                if ("Chartkick" in window) {
                                    createChart();
                                } else {
                                    window.addEventListener("chartkick:load", createChart, true);
                                }
                            })();
                        </script>
                    </turbo-frame>
                </div>

            </section>
        </section>

    </main>
</turbo-frame>
